<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SigViewer</Name>
    <Version>0.6.2</Version>
    <Title>SigViewer</Title>
    <Publisher>SigViewer Development Team</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>SigViewer</StartMenuDir>
    <TargetDir>@HomeDir@/SigViewer</TargetDir>
    <Logo>sigviewer128.png</Logo>
</Installer>
